/* Site-wide */
.push-down-3 {
  padding-top: 10em;
}

.push-down-2 {
  padding-top: 3em;
}

.push-down-1 {
  padding-top: 1em;
}

h1, h2, h3 {
  padding-bottom: 0.5em;
  border-bottom: 1px solid lightgray;
}


.big-link a {
  font-size: 3em;
}

a {
  color: orange;
}

a:hover {
  color: #ee7600;
}

footer {
  padding-top: 2em;
  height: 16em;
}

/* forms */

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
 -webkit-box-shadow: inset 0 -2px 0 orange;
 box-shadow: inset 0 -2px 0 orange;
}

input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: orange;
  border-color: orange;
}

/* Navbar */

.nav-container {
  margin-left: 15px;
  margin-right: 15px;
}


/* Home */

.jumbotron {
  background: url(../images/irongrip.png);
}

.jumbotron .logo {
  color: orange;
  text-align: center;
  font-size: 7em;
  border-bottom: none;
  padding-bottom: 0.3em;
}

.jumbotron p {
  text-align: center;
  font-size: 2em;
  color: white;
}


.best-of-week {
  max-height: 200px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.ep-teaser .image-container {
  height: 200px;
  vertical-align: bottom;
}

.ep-teaser .teaser-text {
  padding-top: 2em;
  font-size: 16px;
}

.rating-container {
  text-align: center;
}

.rating-container div {
  font-size: 1em;
}




/* All podcasts */

.ep-list-item {
  padding-bottom: 3em;
}

.pagination-container {
  text-align: center;
}

.pagination > li:first-child > a, .pagination > li:last-child > a, .pagination > li > a  {
  border: none;
  color: orange;
  font-size: 2em;
}

.pagination > li > a:hover, .pagination > li > a:focus {
  background: none;
  color: orange;
}



/* Podcast page */


.podcast-page-heading {
  background-image: url(../images/cardboard_flat.png);
  padding-bottom: 5%;
}

.podcast-page-heading img {
  max-width: 30%;
  max-height: 400px;
  display: block;
  margin: 0 auto;
}

.podcast-page-content .desc {
  font-size: 2em;
}

.podcast-page-content h2 {
  font-size: 3em;
}

.rating-container-orange {
  text-align: center;
}

.rating-container-orange div {
  font-size: 2em;
  color: orange;
}

.rating-container-podcast {
  text-align: center;
  display: inline-block;
  padding-left: 0.5em;
}

.rating-container-podcast div {
  font-size: 0.5em;
}

.podcast-page-content ol {
  font-size: 2em;
}

.podcast-page-content li p {
  font-size: 0.7em;
}



/* Best episodes */

.best-episodes-content .row {
  font-size: 1.5em;
}

.best-episodes-content .row p {
  font-size: 0.7em;
}

.best-episodes-content img {
  max-width: 100%;
  max-height: 400px;
  display: block;
  margin: 0 auto;
}

.best-episodes-content .num {
  font-size: 3em;
}

.best-episodes-content .row {
  padding-bottom: 1.5em;
}

.rating-container-best div {
  font-size: 0.5em;
}
